<div class="container">
  <header>In reverse chronological order</header>

  <h1>2017</h1>

  <ul class="main">
    <li>Scrappy Little Nobody - Anna Kendrick</li>
  </ul>

  <h1>2016</h1>

  <ul class="main">
    <li>The Girls - Emma Cline</li>
    <li>Fates and Furies - Lauren Groff</li>
    <li>The White Album - Joan Didion</li>
    <li>Go Set a Watchman - Harper Lee</li>
    <li>The Life Changing Magic of Tidying Up - Marie Kondo</li>
    <li>Authority - Jeff Vandermeer</li>
    <li>Why Not Me? - Mindy Kaling</li>
    <li>Annihilation - Jeff Vandermeer</li>
    <li>The Power of Habit - Charles Duhigg</li>
    <li>But What If We’re Wrong? - Chuck Klosterman</li>
    <li>The Opposite of Loneliness - Marina Keegan</li>
    <li>Adulting - Kelly Williams Brown</li>
    <li>Lord of the Flies - William Golding</li>
    <li>The Goldfinch - Donna Tartt</li>
    <li>The Grownup - Gillian Flynn</li>
    <li>The Bell Jar - Sylvia Plath</li>
    <li>Modern Romance - Aziz Ansari</li>
    <li>How to be a Woman - Caitlin Moran</li>
    <li>Hunger Makes Me a Modern Girl - Carrie Brownstein</li>
  </ul>

  <h1>2015</h1>

  <ul class="main">
  	<li>Freedom - Jonathan Franzen</li>
    <li>#GIRLBOSS - Sophia Amoruso</li>
    <li>This is Where I Leave You - Jonathan Tropper</li>
    <li>How to Build a Girl - Caitlin Moran</li>
    <li>The Girl on the Train - Paula Hawkins</li>
    <li>Bad Feminist - Roxane Gay</li>
    <li>Corrections to my Memoirs - Michael Kun</li>
    <li>A Clash of Kings - George R. R. Martin</li>
    <li>A Game of Thrones - George R. R. Martin</li>
    <li>One More Thing - B. J. Novak</li>
    <li>Wild - Cheryl Strayed</li>
    <li>The Fountainhead - Ayn Rand</li>
    <li>Sharp Objects - Gillian Flynn</li>
    <li>Divergent - Veronica Roth</li>
  </ul>

  <footer>&copy; {{#link-to 'index'}}Madeline Rae Horowitz &middot; 2017{{/link-to}}</footer>
</div>
