<div class="container">
  <header>In reverse chronological order</header>

  <h1>2016</h1>

  <ul class="main">
    <li>CHVRCHES</li>
    <li>Tacocat</li>
    <li>Lucius</li>
    <li>Amanda Palmer</li>
    <li>Florence + The Machine with Grimes</li>
    <li>HAIM</li>
    <li>Mac Miller</li>
    <li>The Strokes</li>
    <li>Beck</li>
    <li>Father John Misty</li>
    <li>Bob Moses</li>
    <li>Years and Years</li>
    <li>Best Coast with Wavves</li>
  </ul>

  <footer>&copy; {{#link-to 'index'}}Madeline Rae Horowitz &middot; 2017{{/link-to}}</footer>
</div>
