<div class="container">
  <div class="main">
    <p>Madeline Rae Horowitz (often referred to as Maddie) is a front-end engineer living in New York. Originally from the suburbs of New Jersey, she's lived in London, Pittsburgh, Seattle, and the Bay Area before returning to the East Coast.  She works with an awesome team fixing finance at <a target="_blank" href="https://addepar.com">Addepar</a>.</p>

    <p>In her free time she enjoys reading <a href="http://raemadeline.github.io/blog/books">books</a> on the subway, biking around the city, going to <a href="http://raemadeline.github.io/blog/concerts">concerts</a> and tinkering with her spotify <a target="_blank" href="https://play.spotify.com/user/1247457992">playlists</a> afterwards. She loves mexican food and <a target="_blank" href="https://www.pinterest.com/raemadeline/t-a-t-t-o-o/">tattoos</a>, and she’s never met a plant she didn’t like.</p>

    <p>Occasionally she’ll build things for fun and post them on <a target="_blank" href="http://codepen.io/raemadeline/">codepen</a> or <a target="_blank" href="http://github.com/raemadeline/">github</a>. She’s currently working on a series of <a target="_blank" href="https://github.com/raemadeline/css-for-engineers">guides</a> to teach CSS to other software engineers.</p>
  </div>

  <footer>
    <ul>
      <li><a target="_blank" href="mailto:raemadeline@gmail.com">Email</a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/raemadeline">LinkedIn</a></li>
      <li><a target="_blank" href="https://www.instagram.com/raemadeline">Instagram</a></li>
    </ul>

    &copy; {{#link-to 'index'}}Madeline Rae Horowitz &middot; 2017{{/link-to}}
  </footer>
</div>
